.definition-box {
  max-width: 500px;
  margin: 1em auto;
  opacity: 0;
  @include respond-to(phone) {padding: 0 1em;
    font-size: 90%;}
}

.definition-header {

}

.definition-word {
  color: $deepgrey;
  font-weight: 700;
  font-size: 130%;
  font-family: $sans;
}

.definition-part-of-speech {
  padding-left: 2em;
  font-family: $curved;
  color: $baseblue;
}

.definition-text {
  font-size: 120%;
  padding-left: 2em;
}

.definition-footer {
  font-size: 80%;
  text-align: right;
}