#start-prompt {
  opacity: 0;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  @include respond-to(phone) {bottom: 3%;}
}

#start-prompt p {
  background-color: $baseblue;
  padding: 1em;
  text-transform: uppercase;
  font-family: $mono;
  color: $white;
  border-radius: 10px;
  width: 23em;
  margin: 0 auto;
}