.taunt {
  display: none;
  width: 100%;
  max-width: 500px;
  font-size: 4em;
  font-family: $mono;
  text-align: center;
  margin: 0 auto;
  color: $midgrey;
  @include respond-to(phone) {font-size: 3em;}
  @include respond-to(smalltablet) {font-size: 3.5em;}
}